.heart {
  stroke-width: 4px;
  margin: auto;
  max-width: 100%;
  padding: 10%;
  z-index: -1;
  filter:
    drop-shadow(0 0 4px #fff)
    drop-shadow(0 0 11px #fff)
    drop-shadow(0 0 19px #fff)
    drop-shadow(0 0 40px currentColor)
    drop-shadow(0 0 70px currentColor)
    drop-shadow(0 0 90px currentColor);
}

@media (prefers-reduced-motion: no-preference) {
  .heart {
    animation: pulsate 0.7s infinite alternate;
    animation-timing-function: steps(7, jump-both);
  }
}

@keyframes pulsate {
  0% {
    opacity: 0.87;
  }

  20% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}